body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 45px;
}

button {
    border: none;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 75px;
    width: 75px;
    font-size: 25px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 37.5px;
    cursor: pointer;
}
.operand {
    background-color: rgb(223, 156, 32);
}
.clear {
    font-size: 20px;
}